**Arithmetic and numbers**

In [77]:
100

res51: Int = 100

In [2]:
2.5

res1: Double = 2.5

In [3]:
1 + 1

res2: Int = 2

In [5]:
2 * 5

res4: Int = 10

In [6]:
1 / 2

res5: Int = 0

In [7]:
1.0 / 2

res6: Double = 0.5

In [8]:
1 / 2.0

res7: Double = 0.5

In [9]:
1.0 / 2.0

res8: Double = 0.5

In [10]:
math.pow(4, 2)

res9: Double = 16.0

In [11]:
res2

res10: Int = 2

In [12]:
res2 + res10

res11: Int = 4

In [13]:
(1 + 2) * (3 + 4)

res12: Int = 21

In [14]:
3 * 0.3048

res13: Double = 0.9144000000000001

In [38]:
4 % 2

res22: Int = 0

In [39]:
5 % 2

res23: Int = 1

**Values and variables**

var (name) : (type) = (value)

In [16]:
var myvar: Int = 10

myvar: Int = 10

In [17]:
val myvar: Double = 2.5

myvar: Double = 2.5

In [18]:
myvar = 'hello'

In [21]:
myvar = "hello"

In [22]:
myvar = 10.1

In [23]:
val c = 2

c: Int = 2

In [27]:
val my_string = "hello"

my_string: String = hello

**Booleans and comparison operators**

In [30]:
true

res14: Boolean = true

In [31]:
false

res15: Boolean = false

In [32]:
1 > 2

res16: Boolean = false

In [33]:
1 < 2

res17: Boolean = true

In [34]:
1 >= 1

res18: Boolean = true

In [35]:
1 <= 2

res19: Boolean = true

In [36]:
2 == 2

res20: Boolean = true

In [37]:
2 != 2

res21: Boolean = false

**Strings and basic regex**

In [40]:
println("hello")

hello

In [42]:
println('hello')

In [43]:
val farewell = "good" + "bye"

farewell: String = goodbye

In [44]:
farewell

res26: String = goodbye

In [45]:
"dance" * 5

res27: String = dancedancedancedancedance

In [48]:
val greet = "hello"

greet: String = hello

In [49]:
greet.length

res29: Int = 5

In [50]:
greet.length()

res30: Int = 5

In [53]:
var x = f"${greet} there!"

x: String = hello there!

In [57]:
printf("A string %s, an integer %d, a float %f", "Hi", 10, 45.27)

A string Hi, an integer 10, a float 45.270000

In [59]:
printf("A float %1.2f", 1.23987)

A float 1.24

In [60]:
val st = "this is a long string"

st: String = this is a long string

In [61]:
st.charAt(0)

res37: Char = t

In [62]:
st.charAt(3)

res38: Char = s

In [63]:
st.indexOf("a")

res39: Int = 8

In [64]:
st.indexOf("s")

res40: Int = 3

In [65]:
st slice (0, 4)

res41: String = this

In [67]:
st slice (10, 14)

res43: String = long

In [68]:
val st = "term1 term2 term3"

st: String = term1 term2 term3

In [69]:
st matches "term1 term2 term3"

res44: Boolean = true

In [70]:
st matches "term1 asdf"

res45: Boolean = false

In [71]:
st contains "term1"

res46: Boolean = true

**Tuples**

In [72]:
(1, 2.3, "hello")

res47: (Int, Double, String) = (1,2.3,hello)

In [73]:
val my_tup = (8, 4.287, "hi", true)

my_tup: (Int, Double, String, Boolean) = (8,4.287,hi,true)

In [74]:
my_tup._3

res48: String = hi

In [76]:
my_tup._1

res50: Int = 8