**Overview**

In [4]:
import org.apache.spark.sql.SparkSession

val spark = SparkSession.builder().getOrCreate()

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@2a7dc01c

In [5]:
val df = spark.read.csv("./datasets/CitiGroup2006_2008")

df: org.apache.spark.sql.DataFrame = [_c0: string, _c1: string ... 4 more fields]

In [6]:
df.head(5)

res1: Array[org.apache.spark.sql.Row] = Array([Date,Open,High,Low,Close,Volume], [2006-01-03,490.0,493.8,481.1,492.9,1537660], [2006-01-04,488.6,491.0,483.5,483.8,1871020], [2006-01-05,484.4,487.8,484.0,486.2,1143160], [2006-01-06,488.8,489.0,482.0,486.2,1370250])

In [7]:
for(row <- df.head(5)){
    println(row)
}

[Date,Open,High,Low,Close,Volume]
[2006-01-03,490.0,493.8,481.1,492.9,1537660]
[2006-01-04,488.6,491.0,483.5,483.8,1871020]
[2006-01-05,484.4,487.8,484.0,486.2,1143160]
[2006-01-06,488.8,489.0,482.0,486.2,1370250]

In [11]:
val df = spark.read.option("header", "true").option("inferSchema", "true").csv("./datasets/CitiGroup2006_2008")

for(row <- df.head(5)){
    println(row)
}

[2006-01-03,490.0,493.8,481.1,492.9,1537660]
[2006-01-04,488.6,491.0,483.5,483.8,1871020]
[2006-01-05,484.4,487.8,484.0,486.2,1143160]
[2006-01-06,488.8,489.0,482.0,486.2,1370250]
[2006-01-09,486.0,487.4,483.0,483.9,1680740]

df: org.apache.spark.sql.DataFrame = [Date: string, Open: double ... 4 more fields]

In [12]:
df.columns

res7: Array[String] = Array(Date, Open, High, Low, Close, Volume)

In [14]:
df.describe().show()

+-------+----------+------------------+-----------------+------------------+------------------+-----------------+
|summary|      Date|              Open|             High|               Low|             Close|           Volume|
+-------+----------+------------------+-----------------+------------------+------------------+-----------------+
|  count|       755|               755|              755|               755|               755|              755|
|   mean|      null| 386.0923178807949|390.6590596026489|380.80170860927143| 385.3421456953643|6308596.382781457|
| stddev|      null|149.32301134820133|148.5151130063523|150.53136890891344|149.83310074439177| 8099892.56297633|
|    min|2006-01-03|              54.4|             55.3|              30.5|              37.7|           632860|
|    max|2008-12-31|             566.0|            570.0|             555.5|             564.1|        102869289|
+-------+----------+------------------+-----------------+------------------+------------------+-----------------+

In [19]:
df.select("Volume").show()

+-------+
| Volume|
+-------+
|1537660|
|1871020|
|1143160|
|1370250|
|1680740|
|1365960|
|1684440|
|1230060|
| 940930|
|1237830|
|1218910|
|1696500|
|4781930|
|2025500|
|2083740|
|1591940|
|1988600|
|1412760|
|1057630|
|1887280|
+-------+
only showing top 20 rows

In [21]:
df.select("Date", "Close").show()

+----------+-----+
|      Date|Close|
+----------+-----+
|2006-01-03|492.9|
|2006-01-04|483.8|
|2006-01-05|486.2|
|2006-01-06|486.2|
|2006-01-09|483.9|
|2006-01-10|485.4|
|2006-01-11|489.8|
|2006-01-12|490.3|
|2006-01-13|489.2|
|2006-01-17|484.3|
|2006-01-18|483.8|
|2006-01-19|479.4|
|2006-01-20|456.9|
|2006-01-23|460.0|
|2006-01-24|460.1|
|2006-01-25|462.3|
|2006-01-26|470.1|
|2006-01-27|468.7|
|2006-01-30|468.2|
|2006-01-31|465.8|
+----------+-----+
only showing top 20 rows

In [25]:
val df2 = df.withColumn("HighPlusLow", df("High") + df("Low"))
df2.show()

+----------+-----+-----+-----+-----+-------+-----------------+
|      Date| Open| High|  Low|Close| Volume|      HighPlusLow|
+----------+-----+-----+-----+-----+-------+-----------------+
|2006-01-03|490.0|493.8|481.1|492.9|1537660|974.9000000000001|
|2006-01-04|488.6|491.0|483.5|483.8|1871020|            974.5|
|2006-01-05|484.4|487.8|484.0|486.2|1143160|            971.8|
|2006-01-06|488.8|489.0|482.0|486.2|1370250|            971.0|
|2006-01-09|486.0|487.4|483.0|483.9|1680740|            970.4|
|2006-01-10|483.0|485.5|480.8|485.4|1365960|            966.3|
|2006-01-11|495.8|495.8|485.8|489.8|1684440|            981.6|
|2006-01-12|491.0|491.0|488.8|490.3|1230060|            979.8|
|2006-01-13|491.0|491.9|487.3|489.2| 940930|            979.2|
|2006-01-17|485.1|487.0|482.7|484.3|1237830|            969.7|
|2006-01-18|484.3|486.7|481.1|483.8|1218910|            967.8|
|2006-01-19|485.6|485.8|477.0|479.4|1696500|            962.8|
|2006-01-20|472.1|474.0|456.3|456.9|4781930|            930.3|
|2006-01-23|460.0|463.8|457.0|460.0|2025500|            920.8|
|2006-01-24|462.9|463.6|459.9|460.1|2083740|            923.5|
|2006-01-25|461.4|463.7|460.1|462.3|1591940|            923.8|
|2006-01-26|465.5|475.5|464.5|470.1|1988600|            940.0|
|2006-01-27|470.1|473.7|466.0|468.7|1412760|            939.7|
|2006-01-30|468.7|469.9|466.6|468.2|1057630|            936.5|
|2006-01-31|468.3|470.5|465.5|465.8|1887280|            936.0|
+----------+-----+-----+-----+-----+-------+-----------------+
only showing top 20 rows

df2: org.apache.spark.sql.DataFrame = [Date: string, Open: double ... 5 more fields]

In [26]:
df2.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- HighPlusLow: double (nullable = true)

In [31]:
df2.select(df2("HighPlusLow").as("HPL")).show()

+-----------------+
|              HPL|
+-----------------+
|974.9000000000001|
|            974.5|
|            971.8|
|            971.0|
|            970.4|
|            966.3|
|            981.6|
|            979.8|
|            979.2|
|            969.7|
|            967.8|
|            962.8|
|            930.3|
|            920.8|
|            923.5|
|            923.8|
|            940.0|
|            939.7|
|            936.5|
|            936.0|
+-----------------+
only showing top 20 rows

**Operations**

In [33]:
import org.apache.spark.sql.SparkSession

val spark = SparkSession.builder().getOrCreate()

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@2a7dc01c

In [37]:
val df = spark.read.option("header", "true").option("inferSchema", "true").csv("./datasets/CitiGroup2006_2008")
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)

df: org.apache.spark.sql.DataFrame = [Date: string, Open: double ... 4 more fields]

In [38]:
import spark.implicits._

import spark.implicits._

In [42]:
df.filter(($"Close" < 480) && ($"High" < 480)).show()

+----------+-----+-----+-----+-----+-------+
|      Date| Open| High|  Low|Close| Volume|
+----------+-----+-----+-----+-----+-------+
|2006-01-20|472.1|474.0|456.3|456.9|4781930|
|2006-01-23|460.0|463.8|457.0|460.0|2025500|
|2006-01-24|462.9|463.6|459.9|460.1|2083740|
|2006-01-25|461.4|463.7|460.1|462.3|1591940|
|2006-01-26|465.5|475.5|464.5|470.1|1988600|
|2006-01-27|470.1|473.7|466.0|468.7|1412760|
|2006-01-30|468.7|469.9|466.6|468.2|1057630|
|2006-01-31|468.3|470.5|465.5|465.8|1887280|
|2006-02-01|465.9|467.2|461.1|463.3|1844970|
|2006-02-02|459.0|461.0|451.0|451.8|2325470|
|2006-02-03|450.7|456.1|448.1|450.6|1666510|
|2006-02-06|452.6|456.1|450.9|451.7|1147430|
|2006-02-07|452.0|453.8|450.0|450.5|1207780|
|2006-02-08|453.3|455.3|450.7|453.6|1051370|
|2006-02-09|455.0|461.0|454.3|457.9|1357740|
|2006-02-10|457.0|460.7|452.5|459.6|1272030|
|2006-02-13|460.6|462.3|454.1|456.8|1158300|
|2006-02-14|457.8|462.5|457.1|461.2|1518040|
|2006-02-15|460.4|464.7|457.6|462.5|1700050|
|2006-02-16|463.0|464.4|460.4|464.4|1326000|
+----------+-----+-----+-----+-----+-------+
only showing top 20 rows

In [44]:
df.filter("Close < 480 AND High < 480").show()

+----------+-----+-----+-----+-----+-------+
|      Date| Open| High|  Low|Close| Volume|
+----------+-----+-----+-----+-----+-------+
|2006-01-20|472.1|474.0|456.3|456.9|4781930|
|2006-01-23|460.0|463.8|457.0|460.0|2025500|
|2006-01-24|462.9|463.6|459.9|460.1|2083740|
|2006-01-25|461.4|463.7|460.1|462.3|1591940|
|2006-01-26|465.5|475.5|464.5|470.1|1988600|
|2006-01-27|470.1|473.7|466.0|468.7|1412760|
|2006-01-30|468.7|469.9|466.6|468.2|1057630|
|2006-01-31|468.3|470.5|465.5|465.8|1887280|
|2006-02-01|465.9|467.2|461.1|463.3|1844970|
|2006-02-02|459.0|461.0|451.0|451.8|2325470|
|2006-02-03|450.7|456.1|448.1|450.6|1666510|
|2006-02-06|452.6|456.1|450.9|451.7|1147430|
|2006-02-07|452.0|453.8|450.0|450.5|1207780|
|2006-02-08|453.3|455.3|450.7|453.6|1051370|
|2006-02-09|455.0|461.0|454.3|457.9|1357740|
|2006-02-10|457.0|460.7|452.5|459.6|1272030|
|2006-02-13|460.6|462.3|454.1|456.8|1158300|
|2006-02-14|457.8|462.5|457.1|461.2|1518040|
|2006-02-15|460.4|464.7|457.6|462.5|1700050|
|2006-02-16|463.0|464.4|460.4|464.4|1326000|
+----------+-----+-----+-----+-----+-------+
only showing top 20 rows

In [49]:
df.filter($"High" === 474.0).show()

+----------+-----+-----+-----+-----+-------+
|      Date| Open| High|  Low|Close| Volume|
+----------+-----+-----+-----+-----+-------+
|2006-01-20|472.1|474.0|456.3|456.9|4781930|
+----------+-----+-----+-----+-----+-------+

In [50]:
df.filter("High = 474.0").show()

+----------+-----+-----+-----+-----+-------+
|      Date| Open| High|  Low|Close| Volume|
+----------+-----+-----+-----+-----+-------+
|2006-01-20|472.1|474.0|456.3|456.9|4781930|
+----------+-----+-----+-----+-----+-------+

In [46]:
df.collect()

res37: Array[org.apache.spark.sql.Row] = Array([2006-01-03,490.0,493.8,481.1,492.9,1537660], [2006-01-04,488.6,491.0,483.5,483.8,1871020], [2006-01-05,484.4,487.8,484.0,486.2,1143160], [2006-01-06,488.8,489.0,482.0,486.2,1370250], [2006-01-09,486.0,487.4,483.0,483.9,1680740], [2006-01-10,483.0,485.5,480.8,485.4,1365960], [2006-01-11,495.8,495.8,485.8,489.8,1684440], [2006-01-12,491.0,491.0,488.8,490.3,1230060], [2006-01-13,491.0,491.9,487.3,489.2,940930], [2006-01-17,485.1,487.0,482.7,484.3,1237830], [2006-01-18,484.3,486.7,481.1,483.8,1218910], [2006-01-19,485.6,485.8,477.0,479.4,1696500], [2006-01-20,472.1,474.0,456.3,456.9,4781930], [2006-01-23,460.0,463.8,457.0,460.0,2025500], [2006-01-24,462.9,463.6,459.9,460.1,2083740], [2006-01-25,461.4,463.7,460.1,462.3,1591940], [2006-01-26,465...

In [47]:
df.count()

res38: Long = 755

In [55]:
df.select(corr("High", "Low")).show()

+------------------+
|   corr(High, Low)|
+------------------+
|0.9992999172726325|
+------------------+

**Groupby and aggregrate functions**

In [56]:
import org.apache.spark.sql.SparkSession
val spark = SparkSession.builder().getOrCreate()

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@2a7dc01c

In [57]:
val df = spark.read.option("header", "true").option("inferSchema", "true").csv("./datasets/Sales.csv")
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: integer (nullable = true)

df: org.apache.spark.sql.DataFrame = [Company: string, Person: string ... 1 more field]

In [58]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|  200|
|   GOOG|Charlie|  120|
|   GOOG|  Frank|  340|
|   MSFT|   Tina|  600|
|   MSFT|    Amy|  124|
|   MSFT|Vanessa|  243|
|     FB|   Carl|  870|
|     FB|  Sarah|  350|
+-------+-------+-----+

In [76]:
df.groupBy($"Company").mean().show() // max, min, sum

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [77]:
df.select(countDistinct($"Sales")).show() // sumDistinct, variance, (stddev, max, min, avg, sum), collect_set

+---------------------+
|count(DISTINCT Sales)|
+---------------------+
|                    8|
+---------------------+

In [75]:
df.orderBy($"Sales").show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|  120|
|   MSFT|    Amy|  124|
|   GOOG|    Sam|  200|
|   MSFT|Vanessa|  243|
|   GOOG|  Frank|  340|
|     FB|  Sarah|  350|
|   MSFT|   Tina|  600|
|     FB|   Carl|  870|
+-------+-------+-----+

In [74]:
df.orderBy($"Sales".desc).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|  870|
|   MSFT|   Tina|  600|
|     FB|  Sarah|  350|
|   GOOG|  Frank|  340|
|   MSFT|Vanessa|  243|
|   GOOG|    Sam|  200|
|   MSFT|    Amy|  124|
|   GOOG|Charlie|  120|
+-------+-------+-----+

**Missing data**

In [78]:
import org.apache.spark.sql.SparkSession
val spark = SparkSession.builder().getOrCreate()

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@2a7dc01c

In [81]:
val df = spark.read.option("header", "true").option("inferSchema", "true").csv("./datasets/ContainsNull.csv")
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

df: org.apache.spark.sql.DataFrame = [Id: string, Name: string ... 1 more field]

In [82]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: double (nullable = true)

In [83]:
df.na.drop().show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [84]:
df.na.drop(2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [85]:
df.na.fill(100).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|100.0|
|emp2| null|100.0|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [86]:
df.na.fill("Missing").show()

+----+-------+-----+
|  Id|   Name|Sales|
+----+-------+-----+
|emp1|   John| null|
|emp2|Missing| null|
|emp3|Missing|345.0|
|emp4|  Cindy|456.0|
+----+-------+-----+

In [87]:
df.na.fill("Missing", Array("Name")).show()

+----+-------+-----+
|  Id|   Name|Sales|
+----+-------+-----+
|emp1|   John| null|
|emp2|Missing| null|
|emp3|Missing|345.0|
|emp4|  Cindy|456.0|
+----+-------+-----+

In [88]:
df.describe().show()

+-------+----+-----+-----------------+
|summary|  Id| Name|            Sales|
+-------+----+-----+-----------------+
|  count|   4|    2|                2|
|   mean|null| null|            400.5|
| stddev|null| null|78.48885271170677|
|    min|emp1|Cindy|            345.0|
|    max|emp4| John|            456.0|
+-------+----+-----+-----------------+

In [89]:
df.na.fill(400.5, Array("Sales")).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

**Date and timestamp**

In [90]:
import org.apache.spark.sql.SparkSession
val spark = SparkSession.builder().getOrCreate()

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@2a7dc01c

In [91]:
val df = spark.read.option("header", "true").option("inferSchema", "true").csv("./datasets/CitiGroup2006_2008")
df.show()

+----------+-----+-----+-----+-----+-------+
|      Date| Open| High|  Low|Close| Volume|
+----------+-----+-----+-----+-----+-------+
|2006-01-03|490.0|493.8|481.1|492.9|1537660|
|2006-01-04|488.6|491.0|483.5|483.8|1871020|
|2006-01-05|484.4|487.8|484.0|486.2|1143160|
|2006-01-06|488.8|489.0|482.0|486.2|1370250|
|2006-01-09|486.0|487.4|483.0|483.9|1680740|
|2006-01-10|483.0|485.5|480.8|485.4|1365960|
|2006-01-11|495.8|495.8|485.8|489.8|1684440|
|2006-01-12|491.0|491.0|488.8|490.3|1230060|
|2006-01-13|491.0|491.9|487.3|489.2| 940930|
|2006-01-17|485.1|487.0|482.7|484.3|1237830|
|2006-01-18|484.3|486.7|481.1|483.8|1218910|
|2006-01-19|485.6|485.8|477.0|479.4|1696500|
|2006-01-20|472.1|474.0|456.3|456.9|4781930|
|2006-01-23|460.0|463.8|457.0|460.0|2025500|
|2006-01-24|462.9|463.6|459.9|460.1|2083740|
|2006-01-25|461.4|463.7|460.1|462.3|1591940|
|2006-01-26|465.5|475.5|464.5|470.1|1988600|
|2006-01-27|470.1|473.7|466.0|468.7|1412760|
|2006-01-30|468.7|469.9|466.6|468.2|1057630|
|2006-01-31|468.3|470.5|465.5|465.8|1887280|
+----------+-----+-----+-----+-----+-------+
only showing top 20 rows

df: org.apache.spark.sql.DataFrame = [Date: string, Open: double ... 4 more fields]

In [92]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)

In [95]:
df.select(month(df("Date"))).show() // year

+-----------+
|month(Date)|
+-----------+
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
+-----------+
only showing top 20 rows

In [98]:
val df2 = df.withColumn("Year", year(df("Date")))
val dfavgs = df2. groupBy("Year").mean()

dfavgs.select($"Year", $"avg(Close)").show()

+----+------------------+
|Year|        avg(Close)|
+----+------------------+
|2007| 477.8203984063745|
|2006| 489.2697211155379|
|2008|190.48893280632404|
+----+------------------+

df2: org.apache.spark.sql.DataFrame = [Date: string, Open: double ... 5 more fields]
dfavgs: org.apache.spark.sql.DataFrame = [Year: int, avg(Open): double ... 5 more fields]

In [100]:
val df2 = df.withColumn("Year", year(df("Date")))
val df3 = df2. groupBy("Year").max()

df3.select($"Year", $"max(Close)").show()

+----+----------+
|Year|max(Close)|
+----+----------+
|2007|     552.5|
|2006|     564.1|
|2008|     296.9|
+----+----------+

df2: org.apache.spark.sql.DataFrame = [Date: string, Open: double ... 5 more fields]
df3: org.apache.spark.sql.DataFrame = [Year: int, max(Open): double ... 5 more fields]