**Integer**

In [1]:
type(1)

int

In [2]:
type(1.0)

float

In [3]:
x = 1
y = 2
x + y

3

**String**

In [4]:
'hello'

'hello'

In [5]:
print('hello')

hello

In [6]:
x = 'hello'
print(x)

hello

In [7]:
print('My name is {}'.format('name1'))

My name is name1

In [8]:
x = 'name2'
y = 'age2'
print(f'my name is {x}, and my age is {y}')

my name is name2, and my age is age2

**List**

In [9]:
lst = [1, 2, 3, 'a', 'b', 'c']
lst[0], lst[5]

(1, 'c')

In [10]:
lst[5] = 'new'
lst

[1, 2, 3, 'a', 'b', 'new']

In [11]:
lst.append('d')
lst

[1, 2, 3, 'a', 'b', 'new', 'd']

In [12]:
lst2 = ['a', [1, 2, 3], 'b', [4, 5, 6]]
# Grab 5
lst2[3][1]

5

**Dictionary**

In [13]:
d = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
d['key1']

'value1'

In [14]:
print(d)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

**Tuple**

In [15]:
t = (1, 2, 3)
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

**Set**

In [16]:
s = {1, 1, 1, 2, 2, 2, 3, 3, 3}
s

{1, 2, 3}

**Comparison**

In [17]:
1 > 2

False

In [20]:
1 <= 5

True

In [21]:
'A' == 'a'

False

In [22]:
'A' != 'a'

True

In [23]:
(1 == 1) and ('a' == 'a')

True

In [26]:
(1 == 2) or ('a' == 'a') or (4 == 5)

True

In [28]:
if (1 == 2):
    print('a')
elif (1 == 3):
    print('b')
else:
    print('c')

c

**Loops**

In [31]:
lst = [1, 2, 3, 4, 5]
for item in lst:
    print('hi', item)

hi 1
hi 2
hi 3
hi 4
hi 5

In [32]:
i = 1
while i < 5:
    print(f'i is {i}')
    i+=1

i is 1
i is 2
i is 3
i is 4

In [35]:
for i in range (0, 5):
    print(i)

0
1
2
3
4

In [36]:
lst = []
x = [1, 2, 3, 4, 5]

for num in x:
    lst.append(num**2)

print(lst)

[1, 4, 9, 16, 25]

In [38]:
x = [1, 2, 3, 4, 5]
[num**2 for num in x]

[1, 4, 9, 16, 25]

**Functions**

In [43]:
def my_func():
    '''
    this prints out the user name
    '''
    print('hello')

my_func()

hello

In [41]:
def my_func(name):
    print('hello '+name)

my_func('you')

hello you

In [42]:
def my_func(name='anon'):
    print('hello '+name)

my_func()

hello anon

In [45]:
def square(x):
    return x**2

result = square(2)
result

4

**Lambda**

In [46]:
def times_two(var):
    return var*2

times_two(10)

20

In [47]:
lambda var:var*2

**Other useful methods**

In [48]:
st = 'Hello, my name is Sam'

In [50]:
st.lower()

'hello, my name is sam'

In [51]:
st.upper()

'HELLO, MY NAME IS SAM'

In [52]:
st.split()

['Hello,', 'my', 'name', 'is', 'Sam']

In [53]:
tweet = 'Hello #sports'

In [54]:
tweet.split('#')

['Hello ', 'sports']

In [55]:
tweet.split('#')[1]

'sports'

In [56]:
d = {'k1':'v1', 'k2':'v2'}

In [57]:
d.keys()

dict_keys(['k1', 'k2'])

In [58]:
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [61]:
lst = [1, 2, 3]

In [62]:
last = lst.pop()

In [63]:
lst

[1, 2]

In [64]:
last

3

In [65]:
lst = [1, 2, 3]

In [66]:
first = lst.pop(0)

In [67]:
lst

[2, 3]

In [68]:
first

1